################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/EasyTool/EasyTool.AspectCoreExtension/obj
/Src/EasyTool/.vs/EasyTool
